@mixin f($a, $d) {
  display: flex;
  align-items: $a;
  justify-content: $d;
}

.cont {
  @include f(center, center);
  
  .swiper {
    margin-top: 40px;
    width: 700px;
    .swiper-wrapper {
      width: 100%;
      .swiper-slide {
        width: 100%;
        overflow: hidden;
        //   background-color: red;
        // background-color: red;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
